<%-include('../partials/adminHeader')%>
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-content-title-profile mb-50">
                        <div class="main-content-title">
                            <h3>Add New Activities</h3>
                        </div>
                    </div>
                    <div class="dashboard-profile-wrapper two">
                        <div class="dashboard-profile-tab-content">
                            <form action="/admin/activity-upload" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Activities Name</label>
                                            <input type="text" name="activityName" required placeholder="Activities name here...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Add Title</label>
                                            <input type="text" name="title" required placeholder="Title here...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Price</label>
                                            <input type="text" name="price" required placeholder="Price here...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Discount Price</label>
                                            <input type="text" name="discountPrice" required placeholder="Discount price here">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Duration</label>
                                            <input type="text" name="duration" required placeholder="4 Days">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Number Of People (max)</label>
                                            <input type="number" name="numberOfPeople" required placeholder="Number of people here....">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-inner mb-30">
                                            <label>Location</label>
                                            <input type="text" name="location" required  placeholder="Location here...">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 mb-30">
                                        <div class="form-inner">
                                            <label>Description</label>
                                            <textarea name="description" placeholder="Description here" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="upload-img-area">
                                    <div class="upload-img-wrapper">
                                        <div >
                                            <input type="file" name="images" multiple required>
                                        </div>
                                    </div>
                                    <div class="upload-img-area-content">
                                        <h6>Upload Your Image</h6>
                                        <p>Image required size 300*300, JPGE or PNG format.</p>
                                    </div>
                                </div>
                                
                                <div class="form-inner">
                                    <button type="submit" class="primary-btn3">Publish Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../partials/adminFooter')%>