<%-include('../partials/adminHeader')%>
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-content-title-profile mb-50">
                        <div class="main-content-title">
                            <h3>Add New Hotel</h3>
                        </div>
                    </div>
                    <div class="dashboard-profile-wrapper two">
                        <div class="dashboard-profile-tab-content">
                            <form id="bookingForm" action="/admin/hotel-upload" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Add Title</label>
                                            <input type="text" name="title" placeholder="Title here..." required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="form-inner">
                                            <label>Room Type</label>
                                            <select name="roomType" required>
                                                <option>Deluxe King Room</option>
                                                <option>Single Room</option>
                                                <option>Executive Suite</option>
                                                <option>Classic Room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Price</label>
                                            <input type="number" name="price" placeholder="Price here..." required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Discount Price</label>
                                            <input type="number" name="discountPrice" placeholder="Discount price here" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Facilities</label>
                                            <input type="text" name="facilities" placeholder="Enter facilities, separated by commas" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label>Number Of People (max)</label>
                                            <input type="number" name="numberOfPeople" placeholder="Number of people here...." required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-inner mb-30">
                                            <label>Location</label>
                                            <input type="text" name="location" placeholder="Location here..." required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="form-inner">
                                            <label>Description</label>
                                            <textarea name="description" placeholder="Description here" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="form-inner">
                                            <label>Upload Your Image</label>
                                            <input type="file" multiple name="images" accept="image/*" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inner">
                                    <button type="submit" class="primary-btn3">Publish Now</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%-include('../partials/adminFooter')%>