<div class="dashboard-footer">
    <div class="copyright-area">
        <p>Copyright 2024 <a href="#">Yellago</a> | Design By <a href="https://keraladigitalpark.com/">keraladigitalpark</a></p>
    </div>
    <ul class="footer-menu-list">
        <li>
            <a href="#">About Us</a>
        </li>
        <li>
            <a href="#">Reviews</a>
        </li>
        <li>
            <a href="#">Terms & Conditions</a>
        </li>
    </ul>
</div>
</div>
<!-- End dashboard section -->


