<!-- Start Footer Section -->
<footer class="footer-section style-2">
    <div class="container">
        <div class="footer-top">
            <div class="row g-lg-4 gy-5 justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="/"><img src="assets/img/logo2.svg" alt=""></a>
                        </div>
                        <h3>Want <span>to Take <br></span> Tour Packages<span>?</span></h3>
                        <a href="/tours" class="primary-btn1">Book A Tour</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center justify-content-sm-start">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5>Quick Link</h5>
                        </div>
                        <ul class="widget-list">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/tours">Tour Package</a></li>
                            <li><a href="/transports">Transport</a></li>
                            <li><a href="/hotels">Hotel</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-end justify-content-sm-end">
                    <div class="footer-widget">
                        <div class="single-contact mb-40">
                            <div class="widget-title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                    <g clip-path="url(#clip0_1137_183)">
                                        <path
                                            d="M14.3281 3.08241C13.2357 1.19719 11.2954 0.0454395 9.13767 0.00142383C9.04556 -0.000474609 8.95285 -0.000474609 8.86071 0.00142383C6.70303 0.0454395 4.76268 1.19719 3.67024 3.08241C2.5536 5.0094 2.52305 7.32408 3.5885 9.27424L8.05204 17.4441C8.05405 17.4477 8.05605 17.4513 8.05812 17.4549C8.25451 17.7963 8.60632 18 8.99926 18C9.39216 18 9.74397 17.7962 9.94032 17.4549C9.94239 17.4513 9.9444 17.4477 9.9464 17.4441L14.4099 9.27424C15.4753 7.32408 15.4448 5.0094 14.3281 3.08241ZM8.99919 8.15627C7.60345 8.15627 6.46794 7.02076 6.46794 5.62502C6.46794 4.22928 7.60345 3.09377 8.99919 3.09377C10.3949 3.09377 11.5304 4.22928 11.5304 5.62502C11.5304 7.02076 10.395 8.15627 8.99919 8.15627Z" />
                                    </g>
                                </svg>
                                <h5>Address</h5>
                            </div>
                            <a
                                href="#">House
                                168/170, Avenue 01, Mirpur DOHS, Dhaka Bangladesh</a>
                        </div>
                        <div class="payment-partner">
                            <div class="widget-title">
                                <h5>Payment Partner</h5>
                            </div>
                            <div class="icons">
                                <ul>
                                    <li><img src="assets/img/home1/icon/visa-logo.svg" alt=""></li>
                                    <li><img src="assets/img/home1/icon/stripe-logo.svg" alt=""></li>
                                    <li><img src="assets/img/home1/icon/paypal-logo.svg" alt=""></li>
                                    <li><img src="assets/img/home1/icon/woo-logo.svg" alt=""></li>
                                    <li><img src="assets/img/home1/icon/skrill-logo.svg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div
                    class="col-lg-12 d-flex flex-md-row flex-column align-items-center justify-content-md-between justify-content-center flex-wrap gap-3">
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                    height="10" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                                    <path
                                        d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
                                </svg></a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/"><i class="bx bxl-pinterest-alt"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a>
                        </li>
                    </ul>
                    <p>©Copyright 2024 TripRex | Design By <a href="https://keraladigitalpark.com/">kerala Digital Park</a></p>
                    <div class="footer-right">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->