<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="assets/css/jquery-ui.css" rel="stylesheet">
    <!-- Bootstrap Icon CSS -->
    <link href="assets/css/bootstrap-icons.css" rel="stylesheet">
    <!-- Fontawesome all CSS -->
    <link href="assets/css/all.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <!-- FancyBox CSS -->
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">

    <!-- Fontawesome CSS -->
    <link href="assets/css/fontawesome.min.css" rel="stylesheet">
    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/daterangepicker.css">
    <!-- Slick slider CSS -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <!-- BoxIcon  CSS -->
    <link href="assets/css/boxicons.min.css" rel="stylesheet">
    <!-- Select2  CSS -->
    <link href="assets/css/select2.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <!--  Style CSS  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <!-- Title -->
    <!-- <link rel="stylesheet" href="assets/css/style-rtl.css"> -->
    <!-- Title -->
    <title>Yallag - Tour & Travel Agency</title>
    <link rel="icon" href="assets/img/logo.jpg" type="image/gif" sizes="20x20">
</head>

<body>

    <%- body %>


<!--  Main jQuery  -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/daterangepicker.min.js"></script>
    <!-- Popper and Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!-- Swiper slider JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <!-- Waypoints JS -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- Counterup JS -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- Isotope  JS -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- Magnific-popup  JS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Marquee  JS -->
    <script src="assets/js/jquery.marquee.min.js"></script>
    <!-- Select2  JS -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Select2  JS -->
    <script src="assets/js/select2.min.js"></script>

    <script src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
    <script>
        const txts = document.querySelector(".animate-text").children,
            txtslen = txts.length;
        let index = 0;

        function animateText() {
            console.log(txts[index]);
            for (let i = 0; i < txtslen; i++) {
                txts[i].classList.remove("text-in");
            }
            txts[index].classList.add("text-in");
            if (index == txtslen - 1) {
                index = 0;
            }
            else {
                index++;
            }

            setTimeout(animateText, 3000);
        }
        window.onload = animateText;
    </script>


</body>

</html>